name: Python Tests with Allure

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout repository
        uses: actions/checkout@v4

      - name:  Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name:  Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name:  Run Pytest and collect Allure results
        run: |
          python -m pytest --alluredir=Reports/Reports || true  # Don't stop if tests fail

      - name:  Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: Reports/Reports
          allure_report: Reports/allure-report
          keep_reports: 10

      - name:  Upload Allure Report as Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: Reports/allure-report
